<%= form_with(model: labour) do |form| %>
  <% if labour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(labour.errors.count, "error") %> prohibited this labour from being saved:</h2>

      <ul>
        <% labour.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name,required: true %>
  </div>

  <div class="field">
    <%= form.label :number %>
    <%= form.number_field :number %>
  </div>

  <div class="field">
    <%= form.label :is_active %>
    <%if labour.new_record? || labour.is_active%>
    <%= form.check_box :is_active,{checked: true} %>
    <%else%>
    <%= form.check_box :is_active,{checked: false} %>
    <%end%>
  </div>

  <div class="field">
    <%= form.label :labour_type %>
    <%= form.collection_select :labour_type_id, LabourType.where("is_active=1").order(:name),:id,:name, include_blank: true,:required=>true %>

  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
