<p class="form_div" id="notice"><%= notice %></p>

<h1 class="form_div">Labours <%= link_to 'Add', new_labour_path,:style=>"font-size: medium" %></h1>

<table id="labour_tbl" class="form_div table table-striped table-condensed" style="width:90%">
  <thead>
    <tr>
      <th>Name</th>
      <th>Number</th>
      <th>Is active</th>
      <th>Labour type</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
  <%if @labours.present?%>
    <% @labours.each do |labour| %>
      <tr>
        <td><%= labour.name %></td>
        <td><%= labour.number %></td>
        <td><%= labour.is_active %></td>
        <td><%= labour.labour_type.name %></td>
        <td><%= link_to 'Edit', edit_labour_path(labour) %></td>
        <td><%= link_to 'Destroy', labour, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <% else %>
    <tr>
    <th colspan="6">No Records Found</th>
    </tr>
  <% end %>    
  </tbody>
</table>

<br>

