<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @labour_payment.project_id %>
</p>

<p>
  <strong>Labour type:</strong>
  <%= @labour_payment.labour_type_id %>
</p>

<p>
  <strong>Labour:</strong>
  <%= @labour_payment.labour_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @labour_payment.date %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @labour_payment.amount %>
</p>

<%= link_to 'Edit', edit_labour_payment_path(@labour_payment) %> |
<%= link_to 'Back', labour_payments_path %>
