<p class="form_div" id="notice"><%= notice %></p>

<h1 class="form_div">Projects <%= link_to 'Add', new_project_path,:style=>"font-size: medium" %></h1>

<table id="project_tbl" class="form_div table table-striped table-condensed" style="width:90%">
  <thead>
    <tr>
      <th>Name</th>
      <th>Client name</th>
      <th>Number</th>
      <th>Address</th>
      <th>Estimated cost</th>
      <th>Is active</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
  <%if @projects.present?%>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.client_name %></td>
        <td><%= project.number %></td>
        <td><%= project.address %></td>
        <td><%= project.estimated_cost.tap{|x| break x.to_i == x ? x.to_i : x} %></td>
        <td><%= project.is_active %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <% else %>
    <tr>
    <th colspan="8">No Records Found</th>
    </tr>
  <% end %>    
  </tbody>
</table>

<br>
