<nav class="navbar navbar-dark navbar-static-top navbar-expand-md">
<h2 class="form_div" style="color:white">Anusamm</h2>
    <div class="container">        
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav mr-auto">
            <li class='nav-item'><%= link_to 'Home', root_path, class: 'nav-link' %></li>
            <li class='nav-item'><%= link_to 'Project', projects_path, class: 'nav-link' %></li>
            <li class='nav-item'><%= link_to 'Material', materials_path, class: 'nav-link' %></li>
	        <li class='nav-item'><%= link_to 'Supplier', suppliers_path, class: 'nav-link' %></li>
            <li class='nav-item'><%= link_to 'Labour Type', labour_types_path, class: 'nav-link' %></li>
            <li class='nav-item'><%= link_to 'Labour', labours_path, class: 'nav-link' %></li>
            <li class='nav-item'><%= link_to 'Material Expense', material_expenses_path, class: 'nav-link' %></li>
            <li class='nav-item'><%= link_to 'Labour Payment', labour_payments_path, class: 'nav-link' %></li>
                </li>
            </ul>
        </div>
    </div>
</nav>
