<%= form_with(model: labour_type) do |form| %>
  <% if labour_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(labour_type.errors.count, "error") %> prohibited this labour_type from being saved:</h2>

      <ul>
        <% labour_type.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name,required: true %>
  </div>

  <div class="field">
    <%= form.label :is_active %>
    <%if labour_type.new_record? || labour_type.is_active%>
    <%= form.check_box :is_active,{checked: true} %>
    <%else%>
    <%= form.check_box :is_active,{checked: false} %>
    <%end%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
